/* General CSS */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FF5400;
    --title-color: #131318;
    --text-color: #5A5A5D;
    --title-description: #131318B2;
    --font: "Mulish", sans-serif;
}

/* Started Button CSS */
/* primary button */
.primary-button {
    width: 174px;
    height: 52px;
    display: flex;
    border-radius: 8px;
    background: #FF5400;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

/* secondary button */
.secondary-button {
    width: 150px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #FF5400;
    transition: .5s;
    margin-top: 24px;
}

/* package button */
.package-button {
    width: 210px;
    height: 52px;
    border-radius: 8px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition: .5s;
}

/* Subscribe button */
.subscribe-button {
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

/* All Button general CSS */
.primary-button a,
.secondary-button a,
.package-button a,
.subscribe-button a {
    color: #FFF;
    font-family: var(--font);
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-decoration: none;
}

.primary-button:hover,
.secondary-button:hover,
.package-button:hover,
.subscribe-button:hover {
    transform: translateY(-5px);
    background-color: #ff6e0a;
}

/* End Button CSS */
.nav-container {
    margin-top: 20px;
    margin-bottom: 30px;
}

.brand-black {
    font-family: var(--font);
    color: var(--title-color);
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 10px;
}

.brand-orange {
    color: var(--primary-color);
    font-family: var(--font);
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.nav-link {
    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: "Mulish", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.nav-link:hover {
    color: var(--primary-color);
}

.navbar-nav {
    display: flex;
    gap: 30px;
}

.selected {
    color: var(--primary-color);
}

/* hero css */
.hero-container {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    border-radius: 16px;
    background-position: center;
    background-size: cover;
    height: 500px;
    padding-top: 106px;
}

.hero-container h1 {
    color: #FFF;
    font-family: var(--font);
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    margin-bottom: 24px;
}

.hero-container p {
    color: #FFF;
    text-align: center;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
    /* 162.5% */
}

.select-form {
    display: flex;
    gap: 24px;
    width: 800px;
    margin: auto;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    justify-content: center;
}

.form-box,
.btn {
    width: 174px;
    padding: 8px;
    height: 52px;
    color: rgba(19, 19, 24, 0.50);
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
}

.btn {
    background-color: var(--primary-color);
    border: none;
    color: #fff;
}

/* Popoular-section css */
.row {}

.popular-section {
    margin: 100px 0;
}

.popular-section .img img {
    width: 100%;
    height: 100%;
}

.section-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 6px;
}

.section-title {
    color: #131318;
    font-family: var(--font);
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.section-content p {
    color: rgba(19, 19, 24, 0.70);
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

/* Destination Section CSS */
.destination-section {
    margin-bottom: 100px;
}

.section-description {
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 24px auto 48px auto;
}

.destination-section-img img {
    width: 100%;
    height: 100%;
    position: relative;
}

.destination-section-img {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.destination-name {
    position: absolute;
    top: 46%;
    left: 38%;
    color: #FFF;
    text-align: center;
    font-family: var(--font);
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* Service section CSS */
.service-section {
    margin-bottom: 100px;
}

.title-description {
    color: #131318;
    font-family: var(--font);
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.service-card {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hotel {
    /* width: 573px; */
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
    align-self: center;

}

.map {
    /* width: 573px; */
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px;
    align-self: flex-end;
}

.hotel p,
.map p,
.price-tag p {
    width: 486px;
    color: #5A5A5D;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.price-tag {
    /* width: 573px; */
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 32px;
    align-self: center;
}

.hotel img,
.map img,
.price-tag img {
    margin-bottom: 32px;
}

/* Discount Section CSS */
.discount-section {
    margin-top: 100px;
}

.discount-container {
    position: relative;
    background-image: url(../Images/Rectangle\ 12.png);
    width: 100%;
    height: 500px;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
    margin-bottom: 24px;
}

.discount-card {
    position: absolute;
    width: 579px;
    height: 389px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 50px;
    top: 56px;
    right: 56px;
}

.discount-container-2 {
    position: relative;
    background-image: url(../Images/Rectangle\ 13.png);
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    flex-shrink: 0;
    margin-bottom: 24px;
}

.discount-card-2 {
    position: absolute;
    width: 579px;
    height: 389px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 50px;
    top: 56px;
    left: 56px;
}

.requirments img {
    width: 24px;
    height: 24px;
}

.requirments p {
    color: #5A5A5D;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.discount-description p {
    width: 452px;
    color: #5A5A5D;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.discount-card h6,
.discount-card-2 h6 {
    color: var(--primary-color);
    font-family: var(--font);
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* Perfect section css */
.perfect-section ul li p {
    color: #131318;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    /* 162.5% */
}

.perfect-section video {
    width: 100%;
    height: 424px;
    border-radius: 16px;
    background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);
}

/* Newsletter CSS */
hr {
    width: 393px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin: 24px 0;
}

.newsletter-form {
    border: 1px solid var(--primary-color);
    padding: 40px;
    border-radius: 16px;
}

.email,
.name {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    width: 393px;
    height: 52px;
    flex-shrink: 0;
}

.newsletter-form form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 30px;
}

::placeholder {
    color: rgba(19, 19, 24, 0.30);
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.image img {
    width: 100%;
    height: 422px;
}

.image {
    position: relative;
}

.travel {
    position: absolute;
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 47px;
    right: 6px;
}

.travel h6 {
    color: #FFF;
    text-align: center;
    font-family: var(--font);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.travel h2 {
    color: #FFF;
    font-family: var(--font);
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* FOOTER SECTION CSS */
.footer-section {
    background: rgba(19, 19, 24, 0.05);
    margin-top: 100px;
    padding: 110px 0;
    text-align: center;
}

.footer-section .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

.footer-container p {
    color: #5A5A5D;
    text-align: center;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    margin-top: 15px;
    margin-bottom: 32px;
}

.footer-container .icon i {
    font-size: 24px;
    color: #131318;
    transition: .3s;
}

.footer-container .icon a {
    transition: 0.6s;
}

.footer-container .icon a:hover {
    transform: translateY(-6px);
}

.footer-container .icon i:hover {
    color: var(--primary-color);
}

.footer-container hr {
    width: 850px;
    margin: 50px 0;
}

/* ----Mobile device Responsive css---*/
/* ----Mobile device Responsive css---*/

@media screen and (max-width: 576px) {

    /* nav-responsive css */
    .navbar-brand {
        font-size: 20px;
    }

    /* Hero responsive csss */
    .banner-section {
        margin-top: -10px;
    }

    .hero-container {
        height: 583px;
        /* flex-shrink: 0; */
        padding-top: 32px;
    }

    .hero-container h1 {
        color: #FFF;
        font-family: var(--font);
        font-size: 22px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .hero-container p {
        color: #FFF;
        text-align: center;
        font-family: var(--font);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        margin-top: -15px;
        /* 150% */
    }

    .select-form {
        display: flex;
        width: 287px;
        padding: 16px;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        /* height: 250px; */
    }

    .form-box {
        width: 255px;
        height: 52px;
        /* flex-shrink: 0; */
    }

    /* Popular Responsive CSS */
    .popular-section {
        margin: 48px 0;
    }

    .popular-container {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .section-title {
        color: #131318;
        font-family: var(--font);
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .section-description {
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-family: var(--font);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 171.429% */
        width: 309px;
        margin-top: -6px;
    }

    .primary-button {
        margin-top: 24px;
    }

    /* Destination Responsive Css */
    .destination-section-img .row {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    /* Service Responsive CSS */
    .service-section {
        margin: -74px 0;
    }

    .section-content {
        margin: -24px 0;
    }

    .service-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hotel,
    .service-card .map,
    .service-card .price-tag {
        width: 100%;
        height: 289px;
        overflow: hidden;
        margin: 0 auto;
    }

    /* .hotel .service-card .map p,
    .service-card .price-tag p {
        /* width: 300px; */

    .hotel img,
    .map img,
    .price-tag img {
        margin-bottom: 16px;
    }

    /* Discount Responsive CSS */
    .discount-container,
    .discount-container-2 {
        width: 388px;
        height: 500px;
        margin: 16px auto;
    }

    .discount-card h6,
    .discount-card-2 h6 {
        font-size: 16px;
        margin-top: -4px;
    }

    .requirments {
        flex-wrap: wrap;
        gap: 12px !important;
    }


    .discount-card,
    .discount-card-2 {
        width: 354px;
        height: 297px;
        padding: 25px;
        top: 187px;
        left: 16px;
    }

    .discount-description p {
        font-size: 14px;
        width: 254px;
        height: 48px;
        overflow: hidden;
    }

    .title-description {
        font-size: 20px;
    }

    .secondary-button {
        width: 130px;
        height: 40px;
        margin-top: 13px;
    }

    .package-button {
        width: 180px;
        height: 48px;
    }

    .package-button a {
        font-size: 16px;
    }

    /* Perfect Responsive CSS */
    .perfect-container {
        /* width: 388px; */
        margin: 0 auto;
    }

    .perfect-section video {
        /* width: 388px; */
        height: 300px;
    }

    /* Newsletter Responsive CSS */
    hr {
        width: 320px;
    }

    .email,
    .name,
    .subscribe-button {
        width: 320px;
        height: 52px;
        flex-shrink: 0;
    }

    .newsletter-form {
        /* width: 375px; */
        width: 100%;
        padding: 25px;
        margin: 0 auto 16px auto;
    }

    .image img {
        width: 100%;
        height: 350px;
        margin-top: 10px;
    }

    .travel {
        width: 250px;
        height: 120px;
        bottom: 35px;
        right: 7px;
    }

    .travel h6 {
        color: #FFF;
        text-align: center;
        font-family: var(--font);
        font-size: 15.854px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .travel h2 {
        color: #FFF;
        font-family: var(--font);
        font-size: 21.138px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    /* FOOTER RESPONSIVE CSS */
    .footer-container p {
        color: #5A5A5D;
        text-align: center;
        font-family: var(--font);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 171.429% */
        margin: 16px 0;
    }

    .footer-container hr {
        width: 350px;
        margin: 25px 0;
    }
}

/* hgfgfjhhj
 */
@media screen and (min-width: 577px) and (max-width: 768px) {
    .hero-container {
        height: 800px;
        padding-top: 50px;
    }

    .hero-container h1 {
        font-size: 44px;
    }

    .hero-container p {
        font-size: 22px;
        margin-top: 30px;
    }

    .select-form {
        display: flex;
        width: 400px;
        padding: 16px;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        margin-top: 88px;
    }

    .form-box {
        width: 300px;
        height: 60px;
        /* flex-shrink: 0; */
    }

    .hotel,
    .service-card .map,
    .service-card .price-tag {
        /* width: 388px; */
        width: 100%;
        height: 300px;
        overflow: hidden;
        margin: 0 auto;
    }

    .discount-container,
    .discount-container-2 {
        width: 100%;
        height: 600px;
        margin: 16px auto;
    }

    .discount-card,
    .discount-card-2 {
        width: 390px;
        height: 360px;
        padding: 20px;
        top: 200px;
        left: 66px;
        overflow: hidden;
    }

    /* ---------- */

    .section-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 6px;
    }

    .section-title {
        color: #131318;
        font-family: var(--font);
        font-size: 30px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .section-content .section-description {
        color: rgba(19, 19, 24, 0.70);
        font-family: var(--font);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        width: 500px;
        /* 162.5% */
    }
    .perfect-container {
        /* width: 388px; */
        margin: 0 auto;
    }

    .perfect-section video {
        /* width: 388px; */
        width: 100%;
        height: 300px;
    }


    .footer-container hr {
        width: 450px;
        margin: 25px 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .select-form {
        width: 600px;
        gap: 8px;
    }

    .form-box {
        width: 140px;
    }
    .popular-container {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .newsletter-form{
        width: 100%;
        overflow: hidden;
    }
    hr {
        width: 320px;
    }
    .image img{
        width: 100%;
    }
    .email,
    .name,
    .subscribe-button {
        width: 320px;
        height: 52px;
        flex-shrink: 0;
    }
    .newsletter-section .row{
        display: flex;
        flex-direction: column;
    }
    .newsletter-section .col-md-7 {
        width: 100%;
    }
   
    .footer-container hr {
        width: 550px;
        margin: 25px 0;
    }
}


@media screen and (min-width: 993px) and (max-width: 1199px) {
    .email,
    .name,
    .subscribe-button, 
    .discount-description p, 
    hr {
        width: 100%;
    }
}
